.applicant-details-page {

  .applicant-details {

    padding-left: 8%;

    section {
      margin-bottom: 20px;
      margin-left: 10px;
      background-color: lightgrey;

      h3 {
        margin-top: 15px;
      }

      div {
        margin-bottom: 5px;
      }
    }
  }


}