.applicant-details-page {

  section {
    border: 1px solid black;
    margin: 20px;
    background-color: lightgrey;

    h3 {
      margin-top: 15px;
    }

    div {
      margin-bottom: 5px;
    }
  }
}