.applicant-details-page {

  .applicant-details {

    section {
      margin-bottom: 20px;

      h3 {
        margin-top: 15px;
      }

      div {
        margin-bottom: 5px;
      }
    }
  }
}

.toggle-button {
  padding-top: 15px;
}