.recall-button {
  border: maroon;
  background-color: maroon;
  border-radius: 0;
  font-size: 14px;
  margin-bottom: 10px;
  padding-left: 1%;
  padding-right: 1%;
  color: white;
}

.defective-value {
  color: red;
}

.good-value {
  color: green;
}

.orange-value {
  color: orange;
}